h1 {
  color: #757272;
  font-size: 42px;
  font-weight: bold;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-top: 30px;
}

small {
  margin-left: 55px;
}

.container {
  margin: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 20px 30px;
  padding: 25px;
  border: 2px solid #9b9595;
  border-radius: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.current-temp-line {
  margin-top: 10px;
  margin-bottom: 6px;
}

.current-temp {
  font-size: 36px;
  font-weight: bold;
  color: #757272;
}

.temp-units .active {
  color: black;
  cursor: default;
}

.weather-icon {
  font-size: 12px;
  margin: -40px 0px;
}

.feels-like {
  padding-top: 10px;
}

.btn {
  background-color: #9b9595;
  transition: 300ms;
  color: white;
}

.btn:hover {
  background-color: #757272;
}

.description {
  font-weight: bold;
  color: #757272;
}

.description:first-letter {
  text-transform: capitalize;
}
